{% extends 'book/library.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4" style="background-color: #e74c3c; color: #fff; border-radius: 10px;">
                <h1 class="display-3 text-center">Upload Books</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in upload_form %}
                        <label for="{{ field.id_for_label }}" class="font-weight-bold text-dark">{{ field.label }}</label>
                        {{ field }}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success btn-lg btn-block">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}